{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type = 'text/css' href="{% static 'books/general_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'books/images/favicon.ico' %}" />
    <title>DigitaLib</title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <div class="top">
                <div class="top-layer">
                    <div class="container">
                        <div class="head">   
                            <div class="top__row">
                                <div class="top__logo">
                                    <a href="{% url 'main_window' %}" class="top__link"><img src = "{% static '../static/books/images/logo.png' %}"/ class="top__logo-style"><span class="top__link-text"><span class="top__letter_1">D</span>igita<span class="top__letter_2">L</span>ib</span></a> 
                                </div>
                                <div class="top__search">
                                    <form action="{% url "show_searched" %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" class="top__input hidden" name="top_input" id="top_input" placeholder="Введите название">
                                        <input type="text" class="top__input showed" name="top_input" id="top_input" placeholder="Введите название книги">
                                        <button type="submit" class="top__button">Найти</button>
                                    </form>
                                </div>
                                <div class="top__register">
                                    <div class="top__drop-login">
                                        <button class="top__regbutton"><img src="{% static '../static/books/images/im.png' %}"/ class="top__logo-login" alt=""></button>    
                                        <div class="top__login">
                                            <div class="top__cover"></div>
                                            {% if not request.user.is_authenticated %}
                                                <form action="{% url "show_login" %}" method="post">
                                                    {% csrf_token %}
                                                    <input type = 'submit' class="top__drop-link" value="Вход">
                                                </form>
                                                <form action="{% url "show_register" %}">
                                                    <input type = 'submit' class="top__drop-link" value="Регистрация">
                                                </form>
                                            {% else %}
                                                <div class="top__name">
                                                    {{user}} 
                                                </div>
                                                <form action = {% url 'logout_view' %} method='get'>
                                                    {% csrf_token %}
                                                    <input type = 'submit' class="top__drop-link" value="Выйти">
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>                                     
                                </div>
                            </div>

                            <div class="top__menu">
                                <ul class="top__menu">
                                    <form action = {% url 'show_news' %} method='get'>
                                        {% csrf_token %}
                                        <button type = 'submit' class="top__button-link" value="Новинки">Новинки</button>
                                    </form>
                                    <form action = {% url 'show_bestsellers' %} method='get'>
                                        {% csrf_token %}
                                        <button type = 'submit' class="top__button-link" value="Новинки">Бестселлеры</button>
                                    </form>
                                    <form action = {% url 'show_all' %} method='get'>
                                        {% csrf_token %}
                                        <button type = 'submit' class="top__button-link" value="Новинки">Книги</button>
                                    </form>
                                    <form action = {% url 'show_audio' %} method='get'>
                                        {% csrf_token %}
                                        <button type = 'submit' class="top__button-link" value="Новинки">Аудиокниги</button>
                                    </form>
                                    <form action = {% url 'show_experts' %} method='get'>
                                        {% csrf_token %}
                                        <button type = 'submit' class="top__button-link" value="Новинки">Эксперты</button>
                                    </form>
                                    <div class="top__drop-content">
                                        <button class="top__button-link top__button-link_help">Помощь</button>
                                        <div class="top__drop">
                                            <form action="{% url "show_help" %}" method="post">
                                                {% csrf_token %}
                                                <input type = 'submit' class="top__drop-link" value="Помощь">
                                            </form>
                                            <form action = {% url "show_about" %} method='post'>
                                                {% csrf_token %}
                                                <input type = 'submit' class="top__drop-link" value="О нас">
                                            </form>
                                            <form action = {% url 'show_contacts' %} method='post'>
                                                {% csrf_token %}
                                                <input type = 'submit' class="top__drop-link" value="Контакты">
                                            </form>
                                        </div>
                                    </div>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="return">
                <div class="container">
                    <div class="return__title">Контакты</div>
                    <div class="return__title">ТЕЛЕФОНЫ</div>
                    <p class="contact__text">8 800 333-68-45 (звонок бесплатный)</p>
                    <p class="contact__text">+7 495 258-90-28</p>
                    <p class="contact__text">Ответим на ваши звонки в будние дни с 10:00 до 19:00</p>
                    
                    <div class="return__title">ЭЛЕКТРОННАЯ ПОЧТА</div>
                    <p class="contact__text">Info@directmedia.ru — вопросы оплаты и доставки, общие вопросы</p>
                    <p class="contact__text">help@directmedia.ru — техническая поддержка</p>

                    <div class="return__title">АДРЕС</div>
                    <p class="contact__text">117342, Москва, ул. Обручева, 34/63, стр. 1</p>
                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.124959835358!2d37.626477791841964!3d55.73129574832419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5481b477e8529%3A0x42182d5520e15c09!2z0JHQpiBMaWdodGhvdXNl!5e0!3m2!1sru!2sru!4v1661148117710!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>

        <footer class="footer">
            <div class="layer layer_3">
                <div class="container">
                    hello
                    <img src={% static '../static/books/images/line.png' %} alt="" class="footer__divider">
                    <div class="footer__box">   
                        <div class="footer__block">
                            <ul class="footer__links">
                                <li><a href="{% url "show_payment" %}" class="footer__payment">Оплата</a></li>|
                                <li><a href="{% url "show_return" %}" class="footer__payment footer__payment_2">Возврат</a></li>
                            </ul>

                            <div class="footer__copyright">
                                © 2022-2022, Издательство «DigitaLib»
                            </div>
                        </div>
                        <div class="footer__block">
                            <div class="footer__right-block">
                                <div class="footer__networks">
                                    <a href="https://vk.com/"><img src="{% static '../static/books/images/vk_icon.png' %}" alt="" class="footer__vk"></a>
                                    <a href="https://www.instagram.com/"><img src="{% static '../static/books/images/insta_icon.png' %}" alt="" class="footer__vk"></a>
                                    <a href="https://ru-ru.facebook.com/"><img src="{% static '../static/books/images/facebook_icon.png' %}" alt="" class="footer__vk"></a>
                                </div>
                                
                                <div class="footer__phone">
                                    <a href="" class="footer__phone-link">8 800 333-33-33</a>
                                    <p class="footer__freecall">(звонок бесплатный)</p>

                                    
                                </div>
                                <!--<a href="" class="footer__email-link">info@digitalib.ru</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>